@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('./background.gif') no-repeat;
    background-size: cover;
    background-position: center;
}

.login-box{
    position: relative;
    width: 430px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

h2{
    font-size: 2em;
    color: white;
    text-align: center;
}

.input-box{
    position: relative;
    width: 340px;
    margin: 40px 0;
    border-bottom: 3px solid white;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-80%);
    font-size: 0.9em;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
}

.input-box input{
    width:100%;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding: 0 35px 0 5px;
}

input[type="submit"] {
    background-color: rgb(41, 41, 249);
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0c09b3;
}

input[type="button"] {
    background-color: rgb(255, 49, 49);
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #a80707;
}

.flex_justy_between{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right:10px;
    margin-top: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.margin-top{
    margin-top: 10px;
}

@media (max-width:360px){
    h2{
        font-size: 1.6em;
    }
    .login-box{
        width:100%;
        height:100vh;
        border: none;
        border: 0;
    }

    .input-box{
        width:240px;
        margin-left: 12px;
    }

}